<?xml version="1.0" encoding="UTF-8"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://axelor.com/xml/ns/object-views
       http://axelor.com/xml/ns/object-views/object-views_5.0.xsd">
 
   <menuitem title="Employees-Information" name="employee-details" order="-111"/>
 
   <menuitem title="All Employees" name="employee-info" parent="employee-details" action="action-employee-info" icon="fa-user" icon-background="green" tag-count="true" />
  <action-view name="action-employee-info" title="Employees" model="com.axelor.employee.db.Employee">
       <view type="grid" name="employee-grid"/>
        <view type="form" name="employee-form"/>
        <view type="cards" name="employee-card"/>
        <view-param name="forceEdit" value="true"/>
        <view-param name="showArchived" value="true"/>
        <view-param name="details-view" value="true"/>
        <view-param name="search-filters" value="search-filters-on-employee"/>
        <view-param name="popup-save" value="false"/>
        
     </action-view>
     
     <!-- <menuitem title="All Employees" name="employees-top-root" top="true"/>
     <menuitem title="All Employees" name="employee-infos" parent="employees-top-root" action="action-employee-info" icon="fa-user" icon-background="blue" 
     tag-count="true" order="-110"/> -->
     
   <menuitem title="Company" name="company-name" parent="employee-details" action="action.company.name"/>  
    <action-view name="action.company.name" title="Companys" model="com.axelor.employee.db.Company">
       <view type="grid" name="company-grid"/>
        <view type="form" name="company-form"/>
    </action-view>
    
    <menuitem title="Adddress" name="address-details" parent="employee-details" action="action.address.details"/>
    <action-view name="action.address.details" title="Addresses" model="com.axelor.employee.db.Address">
         <view type="grid" name="address-grid"/>
        <view type="form" name="address-form"/>
    </action-view>
    
     <menuitem title="Testing-Adddress" name="address-details-testing" parent="employee-details" action="action.address.details.testing"/>
    <action-view name="action.address.details.testing" title="Addresses" model="com.axelor.employee.db.Address">
         <view type="grid" name="address-grid"/>
        <view type="form" name="address-form"/>
        <context name="_completeAddress" expr="testing "/>  
    </action-view>   
    
    <menuitem title="CompanyTest" name="companyTest-name" parent="employee-details" action="action.companyTest.name"/>  
    <action-view name="action.companyTest.name" title="Companys" model="com.axelor.employee.db.Company">
       <view type="grid" name="company-grid"/>
        <view type="form" name="company-form"/>
        <context name="_showRecord" expr="eval: 1"/>
    </action-view>
    
    <menuitem title="EmployeeInfo" name="employeeInfo-details" parent="employee-details" action="action.employeeInfo.details"/>
      <action-view name="action.employeeInfo.details" title="EmployeeInfos" model="com.axelor.employee.db.EmployeeInfo">
        <view type="grid" name="employeeInfo-grid"/>
        <view type="form" name="employeeInfo-form"/>
      </action-view>
     
      <menuitem title="Projects" name="project-details" parent="employee-details" action="action-employee-project"/>
        <action-view name="action-employee-project" title="Project" model="com.axelor.employee.db.Project">
          <view type="kanban" name="project-kanban"/>
          <view type="form" name="form-kanban"/>
        </action-view>
        
        <menuitem title="Project Progress" name="project-progress" parent="employee-details" action="action.project.progress"/>
          <action-view name="action.project.progress" title="Project Progressess">
           <view type="chart" name="chart.progress.per.month"/>
          </action-view>
  </object-views>      